<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aplikasijagad">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplikasiJagad">
        <activity android:name=".add.add_loket" android:theme="@style/Theme.Design.Light.NoActionBar"></activity>
        <activity
            android:name=".add.add_sewamotor"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".add.add_sewamobil"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".DashboardSewa"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity android:name=".profile.profileKurir" />
        <activity android:name=".profile.profileAdmin" />
        <activity
            android:name=".DashboardKurir"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".DashboardAdmin"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity android:name=".Register.RegisterKurir" />
        <activity android:name=".Register.RegisterAdmin" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>